.top-nav-list {
    justify-content: space-around;
    color: black;
    color: rgb(196, 155, 67);
    flex-direction: column;
    border-radius: 20;
    background-color:  rgb(194, 161, 90);
    background:linear-gradient(45deg,rgba(247, 202, 54, 0.733), rgb(241, 163, 127));
    text-align: center;
    --fc-button-text-color: #fff;
    --fc-button-bg-color: rgb(173, 114, 87);
    --fc-button-border-color: #FFF;
    --fc-button-hover-bg-color: rgb(65, 34, 20);
    --fc-button-hover-border-color: #FFF;
    --fc-button-active-bg-color: rgb(199, 132, 101);
    --fc-button-active-border-color: rgb(199, 132, 101);

    --fc-event-bg-color :  rgb(221, 197, 87);
    --fc-event-border-color : rgb(196, 177, 96);
    --fc-event-text-color :  #fff ;
    --fc-event-selected-overlay-color :  rgba( 0 ,  0 ,  0 ,  0.25 );
    --fc-neutral-bg-color: rgba(208, 208, 208, 0.3);
/* zzz */
    --fc-small-font-size: .85em;
    --fc-page-bg-color: rgba(255, 255, 255, 0.575);
    --fc-neutral-bg-color: rgba(255, 255, 255);
    --fc-neutral-text-color: #808080;
    --fc-border-color: #ddd;
  
    --fc-small-font-size: .99em;
    --fc-event-bg-color: #3788d8;
    --fc-event-border-color: #3788d8;
    --fc-event-text-color: #fff;
    --fc-event-selected-overlay-color: rgba(0, 0, 0, 0.25);
  
    --fc-more-link-bg-color: #e45454;
    --fc-more-link-text-color: inherit;
  
    --fc-event-resizer-thickness: 8px;
    --fc-event-resizer-dot-total-width: 8px;
    --fc-event-resizer-dot-border-width: 1px;
  
    --fc-non-business-color: rgba(215, 215, 215, 0.3);
    --fc-bg-event-color: rgb(143, 223, 130);
    --fc-bg-event-opacity: 0.3;
    --fc-highlight-color: rgba(188, 232, 241, 0.3);
    --fc-today-bg-color: rgba(255, 220, 40, 0.15);
    --fc-now-indicator-color: red;
}